name: flutter_base
description: A lightweight base Flutter app scaffold for quick starts.
publish_to: 'none'
version: 0.1.0
environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.0.0"
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
dev_dependencies:
  flutter_test:
    sdk: flutter
flutter:
  uses-material-design: true
  assets:
    - assets/
